*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;

}
.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20PX;
    border: 5px solid red;
}

.header{
    background-color: red;
    height: 50px;
}

.inline{
    background-color: lightcoral;
    color: inherit;
   margin-left: 100px;
}

.title{
    width: 300px;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    background-color: steelblue;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 30px;
  
}

.button{
    margin-left: 160px;
    padding: 25px 50px;
    border: 20PX solid red;
    border-right-color: blue;
    border-right-width: 10 PX;
    border-style: double;
}